# CO2 Emission Prediction Model

In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [15]:
data = pd.read_excel("./Data/CO2_Emissions_Canada.xlsx")
pd.DataFrame(data=data)
data.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [16]:
data.shape

(7385, 12)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

- There are no NaN values in our data set therefore  will just select the columns we want for our model

In [18]:

columns = [
    'Make',  
    'Vehicle Class', 
    'Engine Size(L)', 
    'Fuel Consumption City (L/100 km)', 
    'Fuel Consumption Hwy (L/100 km)', 
    'Fuel Consumption Comb (L/100 km)', 
    'Transmission', 
    'CO2 Emissions(g/km)'
]

filtered_data = data[columns]

In [19]:
filtered_data.head()

,Make,Vehicle Class,Engine Size(L),Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Transmission,CO2 Emissions(g/km)
0,ACURA,COMPACT,2.0,9.9,6.7,8.5,AS5,196
1,ACURA,COMPACT,2.4,11.2,7.7,9.6,M6,221
2,ACURA,COMPACT,1.5,6.0,5.8,5.9,AV7,136
3,ACURA,SUV - SMALL,3.5,12.7,9.1,11.1,AS6,255
4,ACURA,SUV - SMALL,3.5,12.1,8.7,10.6,AS6,244

In [20]:
# Renaming the columns that Have space in their names
filtered_data.columns = [col.replace(' ', '_') for col in filtered_data.columns]
filtered_data.head()

,Make,Vehicle_Class,Engine_Size(L),Fuel_Consumption_City_(L/100_km),Fuel_Consumption_Hwy_(L/100_km),Fuel_Consumption_Comb_(L/100_km),Transmission,CO2_Emissions(g/km)
0,ACURA,COMPACT,2.0,9.9,6.7,8.5,AS5,196
1,ACURA,COMPACT,2.4,11.2,7.7,9.6,M6,221
2,ACURA,COMPACT,1.5,6.0,5.8,5.9,AV7,136
3,ACURA,SUV - SMALL,3.5,12.7,9.1,11.1,AS6,255
4,ACURA,SUV - SMALL,3.5,12.1,8.7,10.6,AS6,244

In [21]:
# Lets see how many unique categories we have for the categorical columns
categorical_columns = ['Make', 'Vehicle_Class', 'Transmission']
unique_counts = filtered_data[categorical_columns].nunique()

print(unique_counts)

Make             42
Vehicle_Class    16
Transmission     27
dtype: int64

- Using one hot encoding for the categorical columns

In [ ]:

encoded_data = pd.get_dummies(filtered_data, columns=['Make', 'Vehicle_Class', 'Transmission'], drop_first=True)


print(encoded_data.head())